<form class="form-signin" role="form">
    <h2 class="form-signin-heading">Login</h2>
    <input type="text" class="form-control text-top" name="username" placeholder="Username" required autofocus>
    <input type="password" class="form-control text-bottom" name="password" placeholder="Password" required>
    <label class="checkbox">
        <input type="checkbox" value="true" name="rememberMe"> Remember me
    </label>
    <button type="submit" class="btn btn-lg btn-default btn-block">Login</button>
    <div class="form-signin-bottomlink"><a href="#" id="login-createaccountlink">Create Account</a></div>
    <div id="login-error-msg" class="form-signin-error ha-hidden"></div>
</form>