/* Custom styles for Home Automation website. */

.ha-panel {
    background-color: #efefef;
}
.ha-panel >.panel-heading {
    color: white;
    background-image: none;
    border-bottom: none;
}

/* The 'everything is ok' style.
    Use this for previewing as well. */
.ha-green > .panel-heading,
.ha-widget-preview .panel-heading {
    background-color: #7cad12;
}
.ha-green.panel,
.ha-widget-preview .ha-panel {
    border-color: #7cad12;
}

/* The 'everything is bad' style. */
.ha-red > .panel-heading {
    background-color: #ad1212;
}
.ha-red.panel {
    border-color: #ad1212;
}

/* The 'somewhere in between' style. */
.ha-amber > .panel-heading {
    background-color: #d07300;
}
.ha-amber.panel {
    border-color: #d07300;
}

/* A power button (i.e. on or off). */
.ha-btn {
    background-color: #454545;
    background-image: none;
    color: white;
    width: 121px;
    text-align: left;
}
.ha-btn:hover,
.ha-btn:focus,
.ha-btn:active {
    background-color: #5e5e5e;
    color: white;
}
.ha-btn[disabled] {
    background-color: #5a5a5a;
    background-image: none;
    color: #d0d0d0;
}

/* Effect to apply to show that something is on. */
.ha-on {
    -webkit-text-shadow: 0 0 10px aqua;
    text-shadow: 0 0 10px aqua;
}

.ha-status-text {
    font-weight: bold;
}

/* Highlight selected widgets. */
.ha-selected-widget > * {
    outline: 2px solid red !important;
}

/* Login form stuff taken from http://getbootstrap.com/examples/signin/ */
.form-signin {
    background: #f8f8f8;
    border: 1px solid #d0d0d0;
    max-width: 330px;
    padding: 25px;
    margin: 0 auto;
    margin-top: 30px;
}
.form-signin .form-signin-heading {
    margin-bottom: 15px;
    margin-top: 0px;
}
.form-signin .checkbox {
    font-weight: normal;
    margin-bottom: 10px;
    margin-left: 10px;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin .text-top {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin .text-middle {
    margin-bottom: -1px;
    border-radius: 0;
}
.form-signin .text-bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin-error {
    background-color: #ce0000;
    color: white;
    padding: 5px;
    margin: 20px -26px -26px;
}
.form-signin-bottomlink {
    margin-top: 10px;
}

/* Form validity colouring. */
.form-signin .form-control:invalid {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-signin .form-control:focus:invalid {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.form-signin .form-control:required:valid {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-signin .form-control:required:focus:valid {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

/* Add this class to hide an element completely. */
.ha-hidden {
    display: none !important;
}

.alert-footer {
    position: fixed;
    bottom: 0px;
    left: 16.5px;
    right: 16.5px;
    pointer-events: none; /*Ignore clicks*/
}

.opacity-fade-hide {
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

/* Hack for everything being too small on WP8. */
@-ms-viewport {
    width: auto!important;
}
