<div class="row">
    <div id="widget-preview" class="col-sm-8 ha-widget-preview"></div>
    <div id="edit-pane" class="col-sm-4">
        <p class="text-center">
            <button class="btn btn-primary btn-block btn-lg"
                    data-bind-click="save.action" data-bind-text="save.text" data-bind-prop="disabled;save.inProgress">
            </button>
        </p>
        <div class="panel panel-default">
            <div class="panel-heading">Actions</div>
            <div class="panel-body" data-bind-each="actions">
                <div><a href="#" data-bind-click="action" data-bind-text="label" data-bind-visibility="available"></a></div>
            </div>
        </div>
        <div data-bind-if="selected.valid">
            <div id="selected-widget-panel" class="panel panel-default">
                <div class="panel-heading">Selected Widget</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Value</th>
                        </tr>
                        <!-- Put this is the header so it doesn't get affected by the binding. -->
                        <tr>
                            <td>Type</td>
                            <td data-bind-text="selected.type"></td>
                        </tr>
                    </thead>
                    <tbody data-bind-each="selected.props">
                        <tr>
                            <td data-bind-text="name"></td>
                            <td>
                                <div data-bind-if="istext">
                                    <input type="text" class="form-control" data-bind-value="value">
                                </div>
                                <div data-bind-if="isbool">
                                    <input type="checkbox" data-bind-checked="value">
                                </div>
                                <div data-bind-if="isenum">
                                    <select data-bind-value="value" data-bind-options="$root.enums[enumType]">
<!--                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="fiat">Fiat</option>
                                        <option value="audi">Audi</option>-->
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="alert-footer" id="alerts">
    <div class="alert alert-success opacity-fade-hide" id="success-alert">
    </div>
</div>
<div class="trashcan fa fa-trash-o"></div>
