<div class="row">
    <div id="widget-preview" class="col-sm-8 ha-widget-preview">
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Actions</div>
            <div class="panel-body">
                <a href="#" data-action="addGroup">Add group</a>
            </div>
        </div>
        <div id="selected-widget-panel" class="panel panel-default">
            <div class="panel-heading">Selected Widget</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Type</td>
                        <td id="selected-widget-type"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>