<div class="panel ha-panel">
    <div class="panel-heading"><h3 class="panel-title">{{caption}}: <span class="ha-status-text"></span></h3></div>
    <div class="panel-body">
        {{#each buttons}}
        <button type="button" class="btn btn-lg ha-btn ha-btn-{{type}}{{#if power}} ha-btn-power{{/if}}">
            {{#if power}}<span class="fa fa-power-off"></span>{{/if}}
            {{caption}}
        </button>
        {{/each}}
    </div>
</div>
