<div class="panel ha-panel {{#if status}}ha-panel-status{{/if}}">
	<div class="panel-heading">
		<h3 class="panel-title">
			{{caption}} {{#if status}}: <span class="ha-status-text">{{/if}}</span>
		</h3>
	</div>
	<div class="panel-body">
		{{#each children}}{{widget}}{{/each}}
	</div>
</div>
