 <div class="input-group">
    <input type="text" class="form-control" value="{{initialText}}">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go</button>
    </span>
</div>